<%= content_for :chats do %>
  <nav class="flex flex-1 flex-col" id="chats">
    <%= render Chat.all %>
  </nav>
<% end %>
<%= content_for :title do %>
  <%= render "title", title: nil %>
<% end %>
<%= content_for :messages do %>
  <%= turbo_frame_tag :messages do %>
    <%= render "messages", chat: nil %>
  <% end %>
<% end %>
